@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --color-01: #e53939;
  --color-02: #000000;
  --color-03: #ffffff;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-03);
  display: flex;
  justify-content: center;
  align-items: center;
}

section.opportunities {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 0 0.75rem;
  margin: 0 auto;
}

h2.subtitle {
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
  color: var(--color-01);
  padding: 2rem 0;
}

/* Cards */
div.cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: auto;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

div.card {
  height: 450px;
  min-width: 300px;
  max-width: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color-01);
  padding: 0 10px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

h3.card-title {
  color: var(--color-01);
  font-size: 1.3rem;
  font-family: "Righteous", sans-serif;
}

p.card-content {
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.chevron-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
}
.down-chevron {
  background: transparent;
  border: none;
  justify-self: center;
  align-self: flex-end;
  padding: 2rem 0;
  transition: transform 0.5s ease;
}

/* card hover */
.card:hover {
  transform: scale(1.05);
  border: 3px solid var(--color-01);
}
/* chevron hover */
.down-chevron:active {
  transform: scale(0.8);
}
/* Media queries */
@media screen and (min-width: 1024px) {
  section.opportunities {
    grid-template-rows: 0.75fr 2fr 0.75fr;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    margin: 0 auto;
  }
  div.cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  h2.subtitle,
  .down-chevron {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  section.opportunities {
    grid-template-rows: 0.5fr 2fr 0.5fr;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    margin: 0 auto;
  }
  div.cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
